/*----------------RESET--------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*------------------Grilla------------------*/
.grid-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 56px auto 70px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header" "main main" "footer footer"; }

/*----------------HEADER----------------------*/
header {
  grid-area: header;
  font-family: 'Roboto', sans-serif;
  width: 100%; }
  header nav .container-fluid h1 a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 0px;
    padding-right: 50px; }
  header nav .container-fluid .navbar-toggler {
    background-color: rgba(136, 136, 136, 0.37);
    border-color: rgba(255, 255, 255, 0.055); }
  header nav .container-fluid #navbarNavAltMarkup .navbar-nav {
    flex: 1;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-left: 10px;
    padding-right: 50px; }
    header nav .container-fluid #navbarNavAltMarkup .navbar-nav .nav-link {
      color: white; }
      header nav .container-fluid #navbarNavAltMarkup .navbar-nav .nav-link:hover {
        color: #693f3f; }

main {
  grid-area: main; }
  main .inicio {
    background: linear-gradient(#970000, black);
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center; }
    main .inicio h2 {
      color: white; }
    main .inicio p {
      color: white; }
    main .inicio form {
      width: 450px;
      background: rgba(0, 0, 0, 0.4);
      padding: 10px 20px; }
      main .inicio form h2 {
        color: #fff;
        text-align: center;
        margin: 0px;
        font-size: 30px;
        margin-bottom: 20px; }
      main .inicio form select {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
        font-family: 'Roboto', sans-serif; }
      main .inicio form .boton {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
        font-family: 'Roboto', sans-serif; }
        main .inicio form .boton:hover {
          background-color: #525252;
          color: #fff; }
        main .inicio form .boton .boton {
          background: #31384A;
          color: #fff;
          padding: 15px; }
          main .inicio form .boton .boton:hover {
            cursor: pointer; }
        main .inicio form .boton .inputError {
          background: #31384A;
          color: #fff;
          padding: 15px; }
          main .inicio form .boton .inputError:hover {
            cursor: pointer; }
      main .inicio form .inputError {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
        font-family: 'Roboto', sans-serif;
        border: red solid 2px; }
        main .inicio form .inputError:hover {
          background-color: #525252;
          color: #fff; }
        main .inicio form .inputError .boton {
          background: #31384A;
          color: #fff;
          padding: 15px;
          border: #03ff25 solid 8px; }
          main .inicio form .inputError .boton:hover {
            cursor: pointer; }
      main .inicio form div h2 {
        color: #fff;
        text-align: center;
        margin: 0px;
        font-size: 30px;
        margin-bottom: 20px; }
      main .inicio form div p {
        color: white; }
      main .inicio form div input {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
        font-family: 'Roboto', sans-serif; }
        main .inicio form div input:hover {
          background-color: #525252;
          color: #fff; }
        main .inicio form div input .boton {
          background: #31384A;
          color: #fff;
          padding: 15px; }
          main .inicio form div input .boton:hover {
            cursor: pointer; }

footer {
  grid-area: footer;
  background-color: black; }
  footer h2 {
    color: #470000;
    padding-top: 20px;
    padding-left: 10px; }
