/*----------------RESET--------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------Grilla------------------*/

.grid-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 56px auto 70px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";     
}